<div style="display: flex;">
    <div class="logo">
        <img src="../assets/images/logo.png" class="menu-item" alt="logo">
    </div>
    <div class="menu" style="display: flex;">
        <button mat-stroked-button color="primary" class="menu-buttons" routerLink="/">MONITORING</button>
        <button mat-stroked-button color="primary" class="menu-buttons" routerLink="/studies">STUDIES</button>
        <button mat-stroked-button color="primary" class="menu-buttons" routerLink="/staff">ADMIN</button>
        <button mat-stroked-button color="primary" class="menu-buttons" routerLink="/users">USERS</button>
        <button mat-stroked-button color="primary" class="menu-buttons" routerLink="/questions">QUESTIONS</button>
        <button mat-flat-button color="primary" class="menu-buttons" routerLink="/login">LOG OUT</button>
    </div>
</div>