.logo{
    margin: 2em;
    width:150px;
    font-size: 1em;
    height: 3em;
}

.menu{
    margin:2em;
    justify-content: flex-end;
    width: 100%;
}

.menu-buttons{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width:150px;
    font-size: 1em;
    height: 3em;
}