mat-spinner {
  margin: 1em auto;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
.addNewStaff{
  margin: auto;
  width: 20%;
}
.addNewStaffButtons{
  width: 100%;
  margin-top: 1em;
}