<div id="body" style="margin:2em;">

    <form (submit)="sendMsg(msg)">
        <input type="text" [(ngModel)]="msg" name="msg">
        <button type="submit">Send</button>
    </form>
    
    <div style="display:flex;">
        <h1>Admin Panel</h1>
        <button *ngIf="!addNewMode" style="position: absolute; right: 3em; padding: 1em 3em; font-size: 1em;" mat-raised-button color="primary" (click)="addStaffMode()">Add new</button>
        <button *ngIf="addNewMode" style="position: absolute; right: 3em; padding: 1em 3em; font-size: 1em;" mat-raised-button color="primary" (click)="addStaffModeCancel()">Back</button>
    </div>

    <div *ngIf="!addNewMode">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Peter" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8" *ngIf="!addNewMode">
            <table mat-table [dataSource]="dataSource" matSort>
        
                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let user">
                        <div>
                            <p style="align-content: center; margin: auto; padding: auto;" *ngIf="!user.editMode">{{user.email}}</p>
                            <form class="example-form" *ngIf="user.editMode">
                            <mat-form-field class="example-full-width" style="width:80%">
                                <mat-label>{{user.email}}</mat-label>
                                <input matInput [(ngModel)]="user.email" name="email">
                            </mat-form-field>
                            </form>
                        </div>
                    </td>
                </ng-container>

                <!-- last_login Column -->
                <ng-container matColumnDef="last_login">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Last login </th>
                    <td mat-cell *matCellDef="let user"> {{user.last_login }}</td>
                </ng-container>

                <!-- studies Column -->
                <ng-container matColumnDef="studies">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header > Studies </th>
                    <td mat-cell *matCellDef="let user">
                        <div>
                            <p style="align-content: center; margin: auto; padding: auto;" *ngIf="!user.editMode">{{user.studies}}</p>
                            <mat-form-field *ngIf="user.editMode" style="width:60%">
                                <mat-label>{{user.studies}}</mat-label>
                                <mat-select [(ngModel)]="user.studies" name="studies">
                                <mat-option value="0">All</mat-option>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <!-- is_active Column -->
                <ng-container matColumnDef="is_active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
                    <td mat-cell *matCellDef="let user">
                        <div>
                            <p style="align-content: center; margin: auto; padding: auto;" *ngIf="!user.editMode">{{user.is_active}}</p>
                            <mat-form-field *ngIf="user.editMode" style="width:60%">
                                <mat-label>{{user.is_active}}</mat-label>
                                <mat-select [(ngModel)]="user.is_active" name="studies">
                                <mat-option value=true>Active</mat-option>
                                <mat-option value=false>Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <!-- role Column -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                    <td mat-cell *matCellDef="let user"> 
                        <div>
                            <div *ngIf="!user.editMode">
                                <p *ngIf="user.is_admin" style="align-content: center; margin: auto; padding: auto;">Admin</p>
                                <p *ngIf="user.is_staff" style="align-content: center; margin: auto; padding: auto;">Staff</p>
                            </div>
                            <mat-form-field *ngIf="user.editMode" style="width:60%">
                                <mat-label *ngIf="user.is_admin">Admin</mat-label>
                                <mat-label *ngIf="user.is_staff">Staff</mat-label>
                                <mat-select [(ngModel)]="user.role" name="role">
                                <mat-option value="admin">Admin</mat-option>
                                <mat-option value="staff">Staff</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <!-- edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let user" >
                        <div>
                            <button *ngIf="!user.editMode" mat-stroked-button (click)="editStaffMode(this.user)">Edit</button>
                            <button *ngIf="user.editMode" mat-stroked-button (click)="updateStaff(this.user)">Save</button>
                        </div>
                    </td>
                </ng-container>

                <!-- delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let user">
                        <div>
                            <button *ngIf="!user.editMode" mat-stroked-button color="warn" (click)="deleteStaff(this.user)">Delete</button>
                            <button *ngIf="user.editMode" mat-stroked-button (click)="cancelEditStaffMode(this.user)">Cancel</button>
                        </div>
                    </td>
                </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
            </table>
        </div>
    </div>
    <div *ngIf="addNewMode" class="addNewStaff">
        <h2 style="text-align: center;">Add new</h2>
        <br>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. adam@gmail.com" [(ngModel)]="newEmail" name="newEmail">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <mat-label>Studies</mat-label>
              <mat-select [(ngModel)]="newStudy" name="newStudy">
                <mat-option value="1">1</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Active</mat-label>
                <mat-select [(ngModel)]="newStatus" name="newStatus">
                    <mat-option value="true">Active</mat-option>
                    <mat-option value="false">Inactive</mat-option>
                  </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <mat-select [(ngModel)]="newRole" name="newrole">
                    <mat-option value="admin">Admin</mat-option>
                    <mat-option value="staff">Staff</mat-option>
                  </mat-select>
              </mat-form-field>

              <div style="text-align: center;">
                <button class="addNewStaffButtons" mat-stroked-button color="primary" (click)="addstaff(newStudy, newStatus, newRole, newEmail)">Save</button>
            </div>

          </form>
    </div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>